<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vodafone.global.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- READ_PHONE_STATE is required to read IMSI -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <service
            android:name=".http.VodafoneService"
            android:exported="false" />
    </application>
</manifest>
